/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
html, body {
padding: 0; margin: 0;
}

.main {
}

.utilityNav {
    text-align: right;
}

.div {
color: #000;
font-size: 14px;
background: #CCC;
border: 1px solid #000;
cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
}
.div div {
padding: 10px;
 
}

.famous-dom-renderer {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
}

.mainIOResponse {
    height: 100px;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    width: 400px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: rgb(255,255,255);
}

.footer {
    height: 50px;
    background: #000;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

    .inputPadding {
      position: absolute;
      top: 5px;
      left: 5px;
      right: 10px;

      input {
        font-size: 14px;
        height: 35px;
        line-height: 35px;
        width: 100%;
      }
    }
}